* {
    box-sizing: border-box;
}

html, body {
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;;
}

.header {
    min-height: 80px;
    background-color: rgb(255, 255, 255);
}

.logo {
    font-size: 50px;
    font-weight: 700;
}

.nav-item {
    font-size: 19px;
    font-weight: 500;
    cursor: pointer;
    transition: all .3s ease-in-out;
}

.section-1 {
    min-height: 650px;
}

.col-7 h4 {
    font-weight: 600;
    font-size: 32px;
}

.col-7 h1 {
    font-weight: 600;
    font-size: 57px;
    color: #2978b5;
}

.col-7 h2 {
    font-weight: 600;
    font-size: 35px;
}

h2 {
    font-weight: 700;
    font-size: 40px;
    text-shadow: 0 1px 0px;
}

h5 {
    font-weight: 700;
    font-size: 18px;
}

small {
    font-weight: 600;
    font-size: 16px;
}

.col-7 p {
    font-size: 18px;
}

.btn {
    border-radius: 0;
    border: 2px solid #2978b5;
    transition: all .3s ease-in-out;
    color: #2978b5;
    text-shadow: 0 1px 0px;
}

.btn:hover {
    background-color: #2978b5;
    color: #fff;
}

.project-grid {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.projects {
    border-radius: 30px;
    box-shadow: 0px 3px 40px -17px rgb(0, 0, 0, 0.3);
    padding: 30px;
    min-height: 350px;
    transition: all .3s ease-in-out;
}

.projects:hover {
    transform: scale(1.1);
    box-shadow: 0px 3px 60px -17px rgb(0, 0, 0, 0.6);
    z-index: 1;
}

.projects li {
    cursor: pointer;
    font-size: 20px;
    font-weight: 700;
}

.projects li:hover {
    color: #2978b5
}

.form-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
}

input,
textarea {
    border-radius: 0!important;
}

.message {
    grid-column: span 2;
}

.submit-btn {
    grid-column: span 2;
    width: 50%;
    margin: auto;
}

.footer {
    min-height: 70px;
}

.footer h1 {
    font-weight: 700;
}